__pycache__
logs/*
static/uploads/*
.pytest_cache
.vscode/*
findings-prod.txt
output.txt
example-page.pdf
# for local dev shennanigans involving piping output from cloudflared
cloudflared.log
backups/*
src/env_config.py
scripts/backups/*
.DS_Store